<!-- Accepted Resquests List Table -->
<section class="card rounded-sm w-3/4 border-2 border-primary-content/25">
  <div class="card-body">
    <h2 class="text-xl font-semibold">Accepted Requests</h2>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Service</th>
          <th>Contact</th>
          <th>Location</th>
          <th>Pin Code</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for service_request in accepted_requests %}
        <tr>
          <td>
            <a href="{{ url_for('professional_request_details', request_id=service_request.id) }}" class="btn btn-sm">{{
              service_request.id }}</a>
          </td>
          <td>{{ service_request.customer.user.fullname }}</td>
          <td>{{ service_request.service().name }}</td>
          <td>{{ service_request.customer.contact }}</td>
          <td>{{ service_request.customer.address }}</td>
          <td>{{ service_request.customer.pincode }}</td>
          <td>
            <span>
              <a href="{{ url_for('request_reject', prof_id=professional.id, req_id=service_request.id) }}">
                <button class="btn btn-sm btn-error">Reject</button>
              </a>
            </span>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="7" class="text-center font-bold text-error-content text-lg">No Requests Accepted</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>