{% extends "base/customer/loggedin.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<!-- Customer Details -->
<section class="w-2/3 card card-bordered border-2">
    <div class="card-body">
        {% if customer %}
        <h2 class="card-title text-lg">Customer Details:</h2>
        <table class="table table-lg">
            <tbody>
                <tr>
                    <td class="text-lg font-bold underline">ID:</td>
                    <td>{{ customer.id }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">NAME:</td>
                    <td>{{ customer.user.fullname }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">EMAIL:</td>
                    <td>{{ customer.user.email }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">CONTACT:</td>
                    <td>{{ customer.contact }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">STATUS:</td>
                    <td>{{ customer.status }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">ADDRESS:</td>
                    <td>{{ customer.address }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">PIN CODE:</td>
                    <td>{{ customer.pincode }}</td>
                </tr>
                <tr>
                    <td class="text-lg font-bold underline">JOINED:</td>
                    <td>{{ customer.created }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Customer Actions -->
        <div class="flex items-center justify-end gap-2">
            <a href="{{ url_for('customer_edit', cust_id=customer.id) }}">
                <button class="btn btn-sm btn-primary">Edit</button>
            </a>
        </div>
        {% else %}
        <p class="text-center text-lg font-bold">Requested customer not found</p>
        {% endif %}

        <p class="text-center pt-2">
            Go back to <a href="{{ url_for('customer_home', user_id=current_user.id) }}" class="link link-primary">Home</a>
        </p>
    </div>
</section>
{% endblock %}