{% extends "base/professional/loggedin.html" %}

{% block title %} Search {% endblock %}

{% block content %}
<!-- Search Section -->
<!-- Search Box form -->
<div class="card border-2 rounded-sm border-primary-content/25">
  <div class="card-body">
    <h2 class="text-lg font-semibold">Search By:</h2>
    <form action="{{ url_for('professional_search', prof_id=professional.id) }}" method="post" class="form-control">
      {{ form.csrf_token }}
      {{ form.parameter(class="w-96 select select-lg select-bordered rounded-sm border-2") }}
      {{ form.search(placeholder="Search", class="w-96 input input-lg input-bordered rounded-sm border-2 mt-4") }}
      {{ form.submit(value="Search", class="btn btn-lg btn-primary mt-4") }}
    </form>
  </div>
</div>

<!-- <div> -->
  <h2 class="text-lg font-semibold">Search Results:</h2>
  {% if new_requests %}
  {% include "professional/service/new_requests.html" %}
  {% endif %}

<!-- </div> -->
{% endblock %}
