<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../styles/main.css">
</head>

<body>
  <div class="font-fira">

    <!-- MAIN CONTENT -->
    <!-- Service History List Table -->
    <section class="card rounded-sm w-1/2 border-2 border-primary-content/25">
      <div class="card-body">
        <h2 class="text-xl font-semibold">Your Service History</h2>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Service</th>
              <th>Professional</th>
              <th>Contact</th>
              <th>Requested</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>id</td>
              <td>service</td>
              <td>name</td>
              <td>phone</td>
              <td>date</td>
              <!-- Status of request: -->
              <!-- can be "Close?", "Closed", "Requested" -->
              <td>
                <span class="btn btn-sm btn-info">Close?</span>
              </td>
            </tr>
            <tr>
              <td>id</td>
              <td>service</td>
              <td>name</td>
              <td>phone</td>
              <td>date</td>
              <!-- Status of request: -->
              <!-- can be "Close?", "Closed", "Requested" -->
              <td>
                <span class="badge badge-lg badge-success">Closed</span>
              </td>
            </tr>
            <tr>
              <td>id</td>
              <td>service</td>
              <td>name</td>
              <td>phone</td>
              <td>date</td>
              <!-- Status of request: -->
              <!-- can be "Close?", "Closed", "Requested" -->
              <td>
                <span class="badge badge-lg badge-warning">Requested</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </section>
  </div>

  </div>

</body>

</html>